<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button text="Volver"></ion-back-button>
        </ion-buttons>
    <ion-title>Requisitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card><p>NORMA Oficial Mexicana NOM-253-SSA1-2012, Para la disposición de 
        sangre humana y sus componentes con fines terapéuticos. </p></ion-card>
        <div>
        
            <h4>Requisitos generales para donar sangre:</h4>

            <p><br>Comprobar su identidad con una identificación oficial en original, 
            que este vigente y que contenga su fotografía.
            <br><br>Ser mayor de 18 años y menor de 65 años.
            <br><br>Pesar más de 50 Kg.
            <br><br>Ayuno mínimo de 6 horas (no consumir alimentos que contengan grasa)
            <br><br>No haber ingerido durante 3 días previos a la donación: bebidas 
            alcohólicas y alimentos grasos, por ejemplo: carnitas, chicharrón, mole, pozole, etc.
            <br><br>Estar Sano, sin infecciones en garganta, estómago, gripe, herpes 
            bucal (fuegos), no ser diabético. Podrán aceptarse personas con hipertensión 
            bajo control farmacológico
            <br><br>No haber estado en tratamiento de acupuntura, endodoncia, 
            piloelectrólisis o tatuajes y perforación de piel y mucosas para colocación 
            de aretes u otros adornos en los últimos 12 meses.
            <br><br>No tener prácticas sexuales de riesgo: con personas infectadas por 
            el virus de la inmunodeficiencia humana o hepatitis virales activas o 
            crónicas o con personas de condición serológica desconocida o incierta.
            <br><br>No haber padecido hepatitis después de los 10 años de edad</p>

            <h4><br><br>Si el donador es mujer: </h4>
            <p><br>- No estar embarazada.
            <br><br>- No donar después de los seis meses que siguen al parto, cesárea o un 
            embarazo terminado por muerte del producto en cualquier edad gestacional        
            <br><br>- No estar lactando          
            <br><br>No haber tenido una cirugía mayor, accidente mayor o ambos en los 
            últimos 6 meses o hasta recuperación completa.
            <br><br>No estar tomando medicamentos incluyendo aspirinas o analgésicos. 
            Para plaquetaféresis la suspensión de aspirina debe ser de 5 días previos a 
            la donación, analgésicos hasta 48 horas.
            <br><br>No haber sido vacunado contra influenza, BCG, Sarampión, Rubeola, ni 
            alguna otra vacuna elaborada con bacteria o virus atenuados en las últimas 4 
            semanas previas a la donación.
            <br><br><br>No ameritan diferimiento las personas que hubieran recibido las vacunaciones que se indican a continuación, siempre y cuando no tengan sintomatología adversa secundaria a la vacunación: 
            <br><br>a) Contra la rabia, encefalitis por garrapata, virus A o virus B de la hepatitis, aplicadas sin que existan antecedentes de exposición de riesgo;            
            <br><br>b) Vacunas elaboradas contra el cólera y tifoidea;            
            <br><br>c) Vacunas elaboradas con virus inactivados, como la de la poliomielitis en su presentación inyectable, y            
            <br><br>d) Toxoides, tales como: difteria y tétanos. 
        </p></div>
</ion-content>
