<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<img id="pic" src="././assets/home/logoconslogan.png" alt="">
<br>
<h1>Ingrese sus datos de identificación</h1>
  <div class="centerId">
  <h4>Número de membresía:</h4>
  <ion-input type="number" placeholder="123341312"></ion-input>
  </div>
  <div class="centerId">
  <h4>Contraseña:</h4>
  <ion-input type="password" placeholder="*******"></ion-input>
  </div>
  <br>
  <ion-buttons class="centerId">
      <p color="primary">Deseo recordar mi contraseña</p>
  </ion-buttons>
   

</ion-content>