<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button text="Volver"></ion-back-button>
        </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<img id="pic" src="././assets/home/logoconslogan.png" alt="">
<br>
<h1>Ingrese sus datos de identificación</h1>
<h4 class="centerId">Número de membresía:</h4>
  <div text-center class="centerId">
  
  <ion-input type="number" placeholder="123341312"></ion-input>
  </div>
  <h4 class="centerId">Contraseña:</h4>
  <div text-center class="centerId">
  
  <ion-input type="password" placeholder="*******"></ion-input>
  </div>
  <br>
  <div text-center>
  <ion-buttons class="centerId" (click)="navegar('http://www.ammtac.org/espanol/RegistroAsociado.asp?Accion=RecordarPassword&Referer=')">
      <p color="primary">Deseo recordar mi contraseña</p>
  </ion-buttons></div>
   

</ion-content>