#bloodOne{
    color: #ffffff;
    --background: #6e1017f2;
}

#bloodOnei{
    color: #ffffff;
    --background: #6f0f17;
}

#bloodTwo{
    color: #ffffff;
    --background: #6d1e23f2;
}

#bloodTwoi{
    color: #ffffff;
    --background: #6d1e22;
}

#bloodThree{
    color: #ffffff;
    --background: #6b2b30f2;
}

#bloodThreei{
    color: #ffffff;
    --background: #6b2b31;
}

#bloodFour{
    color: #ffffff;
    --background: #6e3e41f2;
}

#bloodFouri{
    color: #ffffff;
    --background: #6e3f41;
}

ion-list {
    text-align: justify;
}