<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
          </ion-buttons>
      <ion-title>Congresos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <img id="pic" src="././assets/eventos/AMMTAC_2019.jpg" alt="">
 </ion-card>
 <ion-card>
    <img id="pic" src="././assets/eventos/inscripciones_2019.png" alt="">
 </ion-card>
 <ion-card>
    <img id="pic" src="././assets/eventos/Tarifas_2019.png" alt="">
 </ion-card>

 <ion-row>
   <ion-col size="2"></ion-col>
   <ion-col size="8">
     <ion-button expand="full">
        <h4>Ver Programa</h4>
     </ion-button>
   </ion-col>
   <ion-col size="2"></ion-col>
 </ion-row>

</ion-content>
