<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Volver"></ion-back-button>
          </ion-buttons>
      <ion-title>Congreso</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <img id="pic" src="././assets/eventos/AMMTAC_2019.jpg" alt="">
 </ion-card>
 <ion-card>
    <img id="pic" src="././assets/eventos/inscripciones_2019.png" alt="">
 </ion-card>
 <div text-center>
 <ion-button  class="bubble " size="large" (click)="navegar('https://www.intermeetingplanner.com/regammtac/index.php?id=nuevo')">
    Inscripciones
   </ion-button>
</div>
 <ion-card>
    <img id="pic" src="././assets/eventos/Tarifas_2019.png" alt="">
 </ion-card>

 <ion-row text-center>
   <ion-col size="1"></ion-col>
   <ion-col size="10">
     <ion-button class="bubble" size="large" (click)="openLocalPdf()">
        Ver Programa
     </ion-button>
   </ion-col>
   <ion-col size="1"></ion-col>
 </ion-row>

</ion-content>
