<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content >
    <br>
    <ion-avatar><img src="././assets/home/5831a17a290077c646a48c4db78a81bb-perfil-de-usuario-icono-azul-by-vexels.png"></ion-avatar> 
    <br>
    <ion-label color="primary"><h1>Lucia Zamudio Godinez</h1> </ion-label>
    <ion-label color="primary"><h4>PRESIDENTE</h4></ion-label>
    <br>
    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="5">
            <ion-button  expand="full" size="large">Revista <br>AMMTAC</ion-button>
        </ion-col>
        <ion-col size="5">
            <ion-button expand="full" size="large">Sesiones <br>Grabadas</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
  <ion-card class="bottom">
    <br>
    <br>
        <ion-label class="whitening"><h3>Correo:</h3></ion-label>
        <ion-label class="whitening"><h3>usuario@correo.com</h3></ion-label>     
    <br>
    <br>
        <ion-label class="whitening"><h3>Nombre:</h3></ion-label>
        <ion-label class="whitening"><h3>Lucia</h3></ion-label>  
    <br>
    <br>
        <ion-label class="whitening"><h3>Apellidos:</h3></ion-label>
        <ion-label class="whitening"><h3>Zamudio Godinez</h3></ion-label>     
    <br>
    <br>  
        <ion-label class="whitening"><h3>Hospital:</h3></ion-label>
        <ion-label class="whitening"><h3>Centro Médico Nacional Siglo XXI</h3></ion-label>     
    <br> 
   
  </ion-card>
</ion-content>
