<ion-content>
  <br>
  <br>
  <ion-row>
      <ion-col size="12">
          <ion-buttons routerLink="eventos/congresos">
              <img src="././assets/home/ammtackk.png">
             </ion-buttons>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="6">
        <ion-buttons routerLink="eventos">
          <img src="././assets/home/congreso_medicina_3.png">
        </ion-buttons> <br>
        <ion-buttons routerLink="ligas">
            <img src="././assets/home/ligas-de-interes_Martines-Cruz-y-Asociados.png">
          </ion-buttons> <br>
          <ion-buttons routerLink="asociacion">
              <img src="././assets/home/20180209043619_1518147412_still.png">
            </ion-buttons>
    </ion-col>
    <ion-col size="6">
      <ion-buttons routerLink="acceso">
        <img src="././assets/home/doctor-blog-2.png">
      </ion-buttons> <br>
      <ion-buttons routerLink="donacion">
        <img src="././assets/home/20190128144459_131.png">
      </ion-buttons> <br>
      <ion-buttons routerLink="contacto">
          <img src="././assets/home/hombre-que-usa-telefono-oficina_23-2147710998.png">
        </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <ion-buttons (click)="live()">
            <img src="././assets/home/transmvivo.png">
           </ion-buttons>
    </ion-col>
  </ion-row>
  
  </ion-content>
  