ion-card{
    padding: 20px;
    text-align: center;
}

#bloodOne{
    color: #ffffff;
    --background: #6e1017f2;
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    padding: 30px;
}

#bloodTwo{
    color: #ffffff;
    --background: #6d1e23f2;
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    padding: 30px;
}

#bloodThree{
    color: #ffffff;
    --background: #6b2b30f2;
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    padding: 30px;
}

#bloodFour{
    color: #ffffff;
    --background: #6e3e41f2;
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    padding: 30px;
}

#bloodFive{
    color: #ffffff;
    --background: #644a4cf2;
    text-align: center;
    text-justify: auto;
    font-size: 25px;
    padding: 30px;
}