<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
          </ion-buttons>
      <ion-title>Ligas de Interés</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  color="primary" (click)="videos()">
        <h2>Vídeos de Interés</h2>
      </ion-card>
      <ion-card  color="primary" (click)="sangre()">
        <h2>Asociación Internacional de Fraccionamiento de la sangre</h2>
      </ion-card>
      <ion-card  color="primary" (click)="GCIAMT()"> 
        <h2>Página web de GCIAMT</h2>
      </ion-card>
      <ion-card  color="primary" (click)="terapia()">
        <h2>Sociedad Española de Transfusión Sanguínea y Terapia Celular</h2>
      </ion-card>
      <ion-card  color="primary" (click)="noticias()">
        <h2>Acercar la Ciencia al Desarrollo mediente Noticias y Análisis</h2>
      </ion-card>
</ion-content>
