<ion-header>
    <ion-toolbar color="primary">
      <ion-back-button defaultHref="" slot="start"></ion-back-button>
      <ion-title>
        Notificaciones
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
          <ion-item (click)="presentAlert()">
            <ion-label>
              XXVII Congreso de la Asociación Mexicana de Medicina Transfucional, A.C.
              <br>
              Monterrey, Nuevo León
            </ion-label>
          </ion-item>
      
      </ion-list>
</ion-content>
