#bloodOne{
    color: #ffffff;
    --background: #6e1017f2;
}

#bloodTwo{
    color: #ffffff;
    --background: #6d1e23f2;
}

#bloodThree{
    color: #ffffff;
    --background: #6b2b30f2;
}

#bloodFour{
    color: #ffffff;
    --background: #6e3e41f2;
}
