<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Volver"></ion-back-button>
          </ion-buttons>
      <ion-title>Cursos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <h3>Infecciones Bacterianas en Medicina Transfusional y Hepatitis Virales</h3>
  <p>Estimados socios:      
      <br>En esta oportunidad se envían  links para acceso a cursos vía on line en Hemocentro de Buenos Aires, sobre dos interesantes tópicos:    
      <br>- Infecciones Bacterianas en Medicina Transfusional
      <br>- Hepatitis Virales
      <br>Con relación a los cursos vía on line en el  Hemocentro de Buenos Aires, les transmito reciente información recibida sobre un descuento del 15% en el costo de los mismos. Esta iniciativa fue propuesta en el Aula de Medicina, para los socios de AAHI y se hizo extensiva a los socios de GCIAMT.
      Importante iniciativa para fomentar la participación de todos los profesionales  en nuestra región.
      <br>Recibimos la información por parte de la Dra. Blejer.</p>
      <ion-row text-center>
        <ion-col size="6">
            <ion-button class="btn" size="large" (click)="navegar('http://www.aulademedicina.com.ar/detalle_curso.php?id_cursos=94')">link 1</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button class="btn" size="large" (click)="navegar('http://www.aulademedicina.com.ar/detalle_curso.php?id_cursos=93')">link 2</ion-button>
        </ion-col>
      </ion-row>
</ion-card>
<ion-card>
  <h3>Diplomado de Aféresis</h3>
  <h4>1 junio - 7 diciembre 2019 </h4>
  <p>La Asociación Mexicana de Medicina Transfusional, A.C. hace una atenta 
      invitación a todos los interesados para inscribirse al 6° Diplomado en Aféresis 
      que iniciará en Junio de 2019; con temas de gran interés y actualización en el 
      área de la Medicina Transfuional y Aféresis, impartidos por expertos en 
      estas disciplinas con amplia trayectoria y experiencia.
    <br>Los Diplomados son Presenciales y se imparte en las oficinas de la Asociación 
    ubicadas en Petén 418 (Entre Av. Eugenia y San Borja), Colonia Vértiz Narvarte, 
    alcaldía Benito Juárez. CP. 03600, Ciudad de México. </p>
    <div text-center >
    <ion-button class="btn" size="large" (click)="navegar('https://www.google.com.mx/maps/place/Pet%C3%A9n+418,+Vertiz+Narvarte,+03600+V%C3%A9rtz+Narvarte,+D.F./@19.38338,-99.1538092,18z/data=!4m2!3m1!1s0x85d1ffa9b363e239:0x361eacca9335ac4d')">Ver mapa de ubicación</ion-button></div>
    <img id="pic" src="././assets/eventos/Diplomado_Aferesis.jpg" alt="">
    <img id="pic" src="././assets/eventos/costos_MT.png" alt="">
</ion-card>
</ion-content>
